### Java ###
target/
*.class

### IntelliJ ###
.idea/
*.iml
/.idea/

### Eclipse ###
*.classpath
*.project
*.settings/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Docker ###
*.env

### Spring Boot ###
*.jar
*.war
